<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <title>Main page test</title>
</head>

<body>
    <nav>
        <div class="NavBar">
            <div class="NavBarMain">
                <div class="NavBarLogo">
                    <img src="/static/assets/logo.png" class="navIcon" />
                    <p>Re 4um</p>
                </div>
                <div class="NavBarContents">
                    <div class="NavBarIcons">
                        <div class="NavBar-Home"><img src="/static/assets/logo.png" class="navIcon" /></div>
                        <div class="NavBar-Calender"><img src="/static/assets/logo.png" class="navIcon" /></div>
                        <div class="NavBar-Group"><img src="/static/assets/logo.png" class="navIcon" /></div>
                        <div class="NavBar-Podcasts"><img src="/static/assets/logo.png" class="navIcon" /></div>
                        <div class="NavBar-Interviews"><img src="/static/assets/logo.png" class="navIcon" /></div>
                    </div>
                    <div class="NavBar-Search-Container">
                        <div class="NavBar-Search">
                            <div class="NavBar-Search-Title">
                                <input></input>
                                <img src="/static/assets/logo.png" class="NavBar-Search-Icon" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="postcardwrapper">
        </div>
    </main>
    <script src="/static/js/index.js"></script>

</body>

</html>