<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/starterpages.css" />
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/favicon.ico">
    <title>4UM</title>
  </head>
  <body>
    <div class="logo">
      <h1>Welcome to 4UM!</h1>
      <img src="static/assets/logo.png" alt="Amjad we need a logo bruh" />
    </div>
    <a href="/login">
      <button class="LoginBtn" id="submit">
        <span>Login</span>
      </button>
    </a>
    <a href="/signup">
      <button class="LoginBtn" id="submit">
        <span>SignUp</span>
      </button>
    </a>

  </body>
</html>
