<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/post.css" />
    <title>Post Test</title>
  </head>
  <body>
    <h1>SAMPLE TITLE</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id purus
      consectetur, pharetra ligula sed, blandit risus. Nunc vel consequat nisl.
      Nunc at ipsum tortor. Donec sodales orci efficitur orci ullamcorper, vel
      mattis nulla molestie. Fusce ullamcorper, augue eget venenatis hendrerit,
      lectus mi pharetra eros, eget laoreet libero elit in tortor. Cras
      hendrerit, ante sed consequat luctus, nulla tellus mollis arcu, sed
      elementum est est ac lectus. Nulla magna turpis, fermentum ut congue ac,
      lobortis ut purus. Etiam faucibus lacus sed nisi consectetur, non finibus
      nisi fermentum. Ut vitae mi a sapien tincidunt interdum. Donec quis mollis
      nunc, at accumsan neque. Quisque sit amet leo malesuada, pellentesque
      dolor non, viverra urna. Curabitur mollis dui et urna porta viverra. Sed
      id ex vel odio tempor posuere vel vel orci. Ut sed ullamcorper nisi.
      Integer ultricies, tellus sit amet bibendum facilisis, libero risus
      commodo purus, nec iaculis ante neque id justo. Aenean fringilla turpis
      nec suscipit luctus. Nam sodales aliquet mi et cursus. In vulputate
      euismod urna, non accumsan odio hendrerit ut. Etiam lobortis turpis non
      dui efficitur, at finibus magna scelerisque. Nulla tempus vestibulum felis
      id imperdiet. Phasellus elementum volutpat urna, et vehicula tortor. In
      diam neque, luctus ut libero nec, auctor varius magna. Sed in condimentum
      nulla. Cras nec nibh a nibh sagittis ultricies non non mauris. Nam sed
      lacinia risus. Sed ullamcorper elementum felis a imperdiet. Vestibulum eu
      quam a risus blandit rhoncus. Duis tincidunt, magna et pretium pharetra,
      leo ipsum ullamcorper risus, vitae laoreet orci urna non purus.
      Suspendisse at metus sed nunc venenatis rutrum. Sed eu ipsum elit.
      Praesent ut porttitor ligula. Quisque viverra cursus velit et aliquet.
      Suspendisse non vehicula nibh. Nulla facilisi. Maecenas rutrum suscipit
      mattis. Nullam urna ligula, ultricies quis velit eu, commodo fermentum
      arcu. Quisque malesuada porta nibh, vitae elementum tellus posuere et.
      Duis faucibus neque neque, vitae lobortis lorem iaculis non. Sed accumsan
      hendrerit maximus. Sed sapien tortor, efficitur ut nunc a, pulvinar
      ullamcorper eros.
    </p>
    <div class="votebtns post">
      <img src="/barebones/assets/159474.svg" alt="like" />
  <img src="/barebones/assets/sad-face-2691.svg" alt="dislike">
    </div>
    <h2>Comments</h2>
    <div class="comments">
      <div class="comment">
        na. Curabitur mollis dui et urna porta viverra. Sed id ex vel odio
        tempor posuere vel vel orci.
        <div class="votebtns comm">
          <img src="/barebones/assets/159474.svg" alt="like" />
      <img src="/barebones/assets/sad-face-2691.svg" alt="dislike">
            </div>
      </div>
      <div class="comment">
        risus, vitae laoreet orci urna non purus. Suspendisse at metus sed nunc
        venenatis rutrum. Sed eu ipsum elit. Praesent ut porttitor ligula
        <div class="votebtns comm">
          <img src="/barebones/assets/159474.svg" alt="like" />
      <img src="/barebones/assets/sad-face-2691.svg" alt="dislike">
            </div>
      </div>
    </div>
  </body>
</html>
