<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/starterpages.css" />
    <title>4UM Login</title>
  </head>
  <body>
    <div class="logo">
      <h1>Welcome to 4UM!</h1>
      <img src="../assets/reddit.png" alt="Amjad we need a logo bruh" />
    </div>
    <div class="form">
      <form>
        <input
          name="signUpCredential"
          placeholder="Username"
          type="text"
          required
        />
        <input
          name="signUpCredential"
          placeholder="Email"
          type="text"
          required
        />
        <input
          name="signUpPass"
          placeholder="Password"
          type="text"
          required
        />
        <input
          name="signUpPassConfirm"
          placeholder="confirm password"
          type="text"
          required
        />
        <button class="Signupbtn" id="submit" onclick="sendsignupreq()">
          <span>SignUp</span>
        </button>
      </form>
    </div>
    <script>
      function sendsignupreq() {
        const url = "/signup";

        // Send the POST request using the fetch API
        fetch(url, {
          method: "POST",
          body: new FormData(document.querySelector("form")),
        })
          .then((response) => {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error("Request failed");
            }
          })
          .then((data) => {
            console.log(data);
          })
          .catch((error) => {
            console.error(error);
          });
      }
    </script>
  </body>
</html>
