<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/starterpages.css" />
    <title>4UM Login</title>
  </head>
  <body>
    <div class="logo">
      <h1>Welcome to 4UM!</h1>
      <img src="static/assets/reddit.png" alt="Amjad we need a logo bruh" />
    </div>
    <div class="form">
      <form>
        <input
          name="Name"
          placeholder="Username"
          type="text"
          required
        />
        <input
          name="Email"
          placeholder="Email"
          type="text"
          required
        />
        <input
          name="Password"
          placeholder="Password"
          type="text"
          required
        />
        <input
          name="signUpPassConfirm"
          placeholder="confirm password"
          type="text"
          required
        />
        <button class="Signupbtn" id="submit" onclick="sendsignupreq()">
          <span>SignUp</span>
        </button>
      </form>
    </div>
    <script src="static/js/signup.js"></script>
  </body>

</html>
