@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");

:root {
  --bg-color: #121212;
  --text-color: #ffffff;
  --bg-nav-color: #1e1e1e;
  --main-font-family: "Rubik", monospace, sans-serif;
  --bg-component-color: #262d34;
}

body,
html {
  margin: 0;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  background-color: var(--bg-nav-color);
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #f5fffa;
}

.logo {
  font-family: var(--main-font-family);
  font-size: 1.5rem;
}

.navicon {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  border: 0;
}

.navicon:hover {
  background-color: #2c2c2c;
}


.actionitems {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.actionitems > li {
  all: unset;
  font-family: var(--main-font-family);
}

.profile {
  width: 100px;
  height: 30px;
  border-radius: 1000px;
  border: 0.5px solid #00ccff;
  background-color: transparent;
  color: #00ccff;
  cursor: pointer;
  transition-duration: 0.3s;
}

.profile:hover {
  background-color: #faf1f1;
  color: black;
  font-weight: bolder;
  border: 0;
}

input[type="text"],
select {
  width: 30vw;
  padding: 12px;
  border: 1px solid #faf1f1;
  border-radius: 30px;
  resize: vertical;
}

textarea {
  width: 30vw;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  resize: vertical;
  padding-top: 20px;
  padding-left: 20px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: white;
  font-family: var(--main-font-family);
}

input[type="submit"] {
  background-color: #045aaa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: #4574a0;
}

.container {
  width: 75vw;
  /* background-color: #f2f2f2; */
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.rowl {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.err {
  color: red;
  font-family: "IBM Plex Mono", monospace, sans-serif;
  text-align: center;
  width: 100vw;
  margin-bottom: 10px;
}
