@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');

:root {
    --bg-color: #1B2021;
    --orage-color: #FA824C;
    --blue-color: #1CD9FF;
    --input-bg: #333232;
    --input-bg-hover: #514f4f;
    --text-color: #ffffff;
    --plex-font: 'IBM Plex Mono', monospace, sans-serif;
}

body,
html {
    background-color: var(--bg-color);
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 47px;
    align-items: center;
}

input[type=text], input[type=password]  {
    background-color: var(--input-bg);
    width: 450px;
    height: 51px;
    padding-left: 30px;
    color: var(--text-color);
    font-family: var(--plex-font);
    font-weight: 200;
    outline: 0;
    border: 0;
    border-radius: 60px;
    transition-duration: 0.3s;

}

input[type=text]:hover, input[type=password]:hover {
    background-color: var(--input-bg-hover);
}

input[type=text]::placeholder, input[type=password]::placeholder {
    color: var(--text-color);
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
}

.submitbtn {
    background-color: var(--blue-color);
    border: 0;
    border-radius: 100px;
    width: 287px;
    height: 55px;
    font-family: var(--plex-font);
    color: black;
    cursor: pointer;
    transition-duration: 0.3s;
}

.submitbtn:hover {
    background-color: #3cabc1;
    font-size: 15px;
    font-weight: 500;
    color: white;
}


.toLogIn {
    text-decoration: none;
    color: var(--orage-color);
    font-family: var(--plex-font);
    transition-duration: 0.3s;
}

.toLogIn:hover {
    color: #fca57c;
}