@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  --bg-color: #240115;
  --text-color: #ffffff;
  --bg-nav-color: #2b2427;
  --main-font-family: "Rubik", monospace, sans-serif;
  --bg-component-color: #262d34;
}

body,
html {
  margin: 0;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  margin-top: 5vh;
  height: 10vh;
  width: 100vw;
  font-family: var(--main-font-family);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between
  ;
}

.postedBy {
  font-weight: bold;
  /*font-size: 3rem;*/
  font-size: 1rem;
}

.postedOn {
  /*font-size: 1.5rem;*/
  font-size: 1rem;
}

.titleLikes {
  margin: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.title {
  color: #ffffff;
  font-family: var(--main-font-family);
  font-size: 3.5rem;
}
.postContent {
  color: white;
  display: flex;
  font-size: 1.25rem;
  justify-content: flex-start

}

.postContent>p {

}


.postwrapper {
  display: block;
}